src/main/resources/TrackingDetailsService.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://demo.com/ws/track/v12" xmlns:s1="http://schemas.xmlsoap.org/wsdl/soap/"
	targetNamespace="http://demo.com/ws/track/v12" name="TrackingDetailsServiceDefinitions">
	<types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified"
			targetNamespace="http://demo.com/ws/track/v12">

			<xs:element name="getTrackingDetails">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="invoiceNo" type="xs:string" minOccurs="0" />
						<xs:element name="trackingNumber" type="xs:string" minOccurs="0" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="addTrackingDetails">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="invoiceNo" type="xs:string" minOccurs="1" />
						<xs:element name="trackingNumber" type="xs:string" minOccurs="1" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="addTrackingResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="status" type="xs:boolean" minOccurs="1" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getTrackingResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Trackings" type="ns:Tracking" minOccurs="1" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Information about the Tracking nos.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="Tracking">
				<xs:annotation>
					<xs:documentation>The descriptive data regarding the result of the submitted transaction.</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="eventArrivalLocation" type="xs:string" minOccurs="0" />
					<xs:element name="eventCity" type="xs:string" minOccurs="0" />
					<xs:element name="eventCountry" type="xs:string" minOccurs="0" />
					<xs:element name="eventDate" type="xs:date" minOccurs="0" /> <!-- date type -->
					<xs:element name="eventDescription" type="xs:string" minOccurs="0" />
					<xs:element name="eventState" type="xs:string" minOccurs="0" />
					<xs:element name="eventStatusExceptionCode" type="xs:string" minOccurs="0" />
					<xs:element name="eventType" type="xs:string" minOccurs="0" />
					<xs:element name="eventZip" type="xs:string" minOccurs="0" />
					<xs:element name="invoiceNo" type="xs:string" minOccurs="0" />
					<xs:element name="trackingNumber" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</types>
	<message name="GetTrackingDetails">
		<part name="GetTrackingDetails" element="ns:getTrackingDetails" />
	</message>
	<message name="GetTrackingDetailsResponse">
		<part name="GetTrackingDetailsResponse" element="ns:getTrackingResponse" />
	</message>
	<message name="AddTrackingDetailsRequest">
		<part name="AddTrackingDetailsRequest" element="ns:addTrackingDetails" />
	</message>
	<message name="AddTrackingDetailsResponse">
		<part name="AddTrackingDetailsResponse" element="ns:addTrackingResponse" />
	</message>
	<portType name="TrackDetailsPortType">
		<operation name="getTrackingDetails" parameterOrder="GetTrackingDetails">
			<input message="ns:GetTrackingDetails" />
			<output message="ns:GetTrackingDetailsResponse" />
		</operation>
		<operation name="addTrackingDetails" parameterOrder="AddTrackingDetails">
			<input message="ns:AddTrackingDetailsRequest" />
			<output message="ns:AddTrackingDetailsResponse" />
		</operation>
	</portType>
	<binding name="TrackingDetailsServiceSoapBinding" type="ns:TrackDetailsPortType">
		<s1:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="getTrackingDetails">
			<s1:operation soapAction="getTrackingDetails" style="document" />
			<input>
				<s1:body use="literal" />
			</input>
			<output>
				<s1:body use="literal" />
			</output>
		</operation>
		<operation name="addTrackingDetails">
			<s1:operation soapAction="addTrackingDetails" style="document" />
			<input>
				<s1:body use="literal" />
			</input>
			<output>
				<s1:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="TrackingDetailsService">
		<port name="TrackingDetailsServicePort" binding="ns:TrackingDetailsServiceSoapBinding">
			<s1:address location="http://localhost:8080/ws/TrackingDetailsService" />
		</port>
	</service>
</definitions>
